
.ProgressBar {
  margin: 0 auto;
  padding: 2em 0 3em;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
	width: 37%;	  
}

.ProgressBar-step {
  text-align: center;
  position: relative;
  width: 100%;
  margin-left:3%;
}
.ProgressBar-step:before, .ProgressBar-step:after {
  content: "";
  height: 0.5em;
  /*background-color: #9F9FA3;*/
  position: absolute;
  z-index: 1;
  width: 100%;
  left: -50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
.ProgressBar-step:first-child:before, .ProgressBar-step:first-child:after {
  display: none;
}
.ProgressBar-step:after {
 /* background-color: #00637C;*/
  width: 0%;
}
.ProgressBar-step.is-complete + .ProgressBar-step.is-current:after, .ProgressBar-step.is-complete + .ProgressBar-step.is-complete:after {
  width: 100%;
}

.ProgressBar-icon {
    width: 1.5em;
    height: 1.5em;
    /* background-color: #9F9FA3; */
    /* fill: #9F9FA3; */
	cursor: pointer;
    border-radius: 50%;
    border: 1px solid;
    padding: 0.5em;
    max-width: 100%;
    z-index: 10;
    position: relative;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out;
}
.is-current .ProgressBar-icon {
    fill: #4f544f;
    background-color: #4f544f;
}
.is-complete .ProgressBar-icon {
 fill: #008000;
  background-color: #008000;
}

.ProgressBar-stepLabel {
  display: block;
  text-transform: uppercase;
  color: #9F9FA3;
  position: absolute;
  padding-top: 0.5em;
  width: 100%;
  -webkit-transition: all .25s ease-out;
  transition: all .25s ease-out;
}
.is-current > .ProgressBar-stepLabel, .is-complete > .ProgressBar-stepLabel {
  color: #00637C;
}

.wrapper_pr {
  max-width: 100%;
  /* margin: 4em auto; */
  font-size: 16px;
}
 .definition_flashcards_ul li {
   list-style: none;
   }
   .df_fl{
   width: 60%;
   margin: 0 auto;
   }
   .df_fl_control{
   width: 60%;
   margin: 0 auto;
   }	
   .df_fl_control a {
   font-size: 35px;
   color: #e2510c;
   cursor: pointer;
   }
   .df_fl_control button {
    border: unset !important;
    background-color: unset;
}
.df_fl_control .fa {
    font-size: 30px;
}

ul.definition_flashcards_ul {
    border: 2px solid #546f1f;
    padding: 8px;
}
.df_fl_control button:focus {
    outline: unset !important;
}
.mb_nav {
    text-align: center;
}
.add_opacity_level{
	opacity: 0.6;
}

.add_wraper_handle_im{
	margin-top: 5%;
	width: 100% !important;
}
.add_wraper_handle{
	width: 100% !important;
}
@media only screen and (max-width: 750px) {

 .df_fl{
   width: 100%;
   margin: 0 auto;
   }
}

.flash_img{
	width:100%;
	height: 180px;
}