.path-mod-flashcards .terms {
    display: flex;
    flex-wrap: wrap;
}
.path-mod-flashcards .term-wrapper {
    width: 32%;
    display: inline-block;
    border: 1px solid #eee;
    margin-right: 1%;
    border-radius: 3px;
    margin-bottom: 10px;
    float: left;
}
.path-mod-flashcards .term-wrapper:nth-of-type(3n) {
    margin-right: 0;
}
.dir-rtl.path-mod-flashcards .term-wrapper {
    margin-left: 1%;
    margin-right: 0;
}
.path-mod-flashcards .term-wrapper:nth-of-type(3n) {
    margin-left: 0;
}
.path-mod-flashcards .term {
    display: block;
    padding: 5px;
}
.path-mod-flashcards .term-header {
    position: relative;
}
.path-mod-flashcards .term-header .term-title {
    font-weight: bold;
    padding-right: 25px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.dir-rtl.path-mod-flashcards .term-header .term-title {
    padding-right: 0;
    padding-left: 25px;
}
.path-mod-flashcards .term-header .term-tick {
    position: absolute;
    right: 0;
    top: 0;
}
.dir-rtl.path-mod-flashcards .term-header .term-tick {
    left: 0;
    right: auto;
}
.path-mod-flashcards .term-body {
    padding-top
}
.path-mod-flashcards .term-seen-action {
    display: block;
}
.path-mod-flashcards .term-seen-state {
    display: none;
}
.path-mod-flashcards .term-seen .term-seen-action {
    display: none;
}
.path-mod-flashcards .term-seen .term-seen-state {
    display: block;
}

.path-mod-flashcards .term-seen-loading {
    display: none;
}
.path-mod-flashcards .generaltable .term-tick {
    text-align: center;
}
.path-mod-flashcards .term-loading .term-tick > * {
    /* Hide all the children. */
    display: none;
}
.path-mod-flashcards .term-loading .term-seen-loading {
    display: block;
}

.path-mod-flashcards .page-footer {
    margin-top: 20px;
}
.path-mod-flashcards .page-footer p {
    text-align: right;
}
.dirt-rtl.path-mod-flashcards .page-footer p {
    text-align: left;
}

.path-mod-flashcards .flashcards {
    position: relative;
}
.path-mod-flashcards .flashcards .flashcard {
    position: absolute;
    display: table;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.path-mod-flashcards .flashcards .flashcard .flashcard-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.path-mod-flashcards .flashcards .flashcard .flashcard-content {
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
}
.path-mod-flashcards .flashcards .flashcard.selected,
.path-mod-flashcards .flashcards .flashcard.found {
    background-color: green;
    color: white;
    cursor: initial;
}
.path-mod-flashcards .flashcards .flashcard.mismatch {
    background-color: red;
    color: white;
}
.path-mod-flashcards .flashcards .congrats {
    width: 300px;
    height: 100px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -170px;
    display: none;
    text-align: center;
    z-index:1;
}
.path-mod-flashcards .flashcards .congrats div {
        padding-bottom: 10px;
}

.path-mod-flashcards .flashcards_timer {
    position: absolute;
    z-index: 1;
    background-color: #ececec;
    display: none;
}
.path-mod-flashcards  .flashcards_timer_time {

}

.path-mod-flashcards .student-navigation .student-tab {
    text-decoration: none;
    display: block;
    float: left;
    height: 40px;
    background: #ccc;
    text-align: center;
    padding: 10px 4px 0 20px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    color: #fff;
    box-sizing: border-box;
    font-size: 14px;
}
.dir-rtl.path-mod-flashcards .student-navigation .student-tab {
    float: right;
    padding: 10px 20px 0 4px;
    margin: 0 0 10px 10px;
}
.path-mod-flashcards .student-navigation .student-tab::after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 12px solid #ccc;
    position: absolute;
    right: -12px;
    top: 0;
    z-index: 1;
}
.dir-rtl.path-mod-flashcards .student-navigation .student-tab::after {
    border-left: 0;
    border-right: 12px solid #ccc;
    left: -12px;
    right: auto;
}
.path-mod-flashcards .student-navigation .student-tab::before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 12px solid white;
    position: absolute;
    left: 0;
    top: 0;
}
.dir-rtl.path-mod-flashcards .student-navigation .student-tab::before {
    border-left: 0;
    border-right: 12px solid white;
    right: 0;
    left: auto;
}

.path-mod-flashcards .student-navigation .student-tab.active {
    background: #3498db;
}
.path-mod-flashcards .student-navigation .student-tab.active::after {
    border-left-color: #3498db;
}
.dir-rtl.path-mod-flashcards .student-navigation .student-tab.active::after {
    border-right-color: #3498db;
}

.path-mod-flashcards .student-navigation a.student-tab.current,
.path-mod-flashcards .student-navigation a.student-tab:hover {
    background: #0070a8;
}
.path-mod-flashcards .student-navigation a.student-tab.current::after,
.path-mod-flashcards .student-navigation a.student-tab:hover::after {
    border-left-color: #0070a8;
}
.dir-rtl.path-mod-flashcards .student-navigation a.student-tab.current::after,
.dir-rtl.path-mod-flashcards .student-navigation a.student-tab:hover::after {
    border-right-color: #0070a8;
}
.path-mod-flashcards .student-navigation .student-tab .step {
    border-radius: 50%;
    background: #fff;
    color: #ccc;
    width: 20px;
    display: inline-block;
    height: 20px;
    font-size: 14px;
}
.path-mod-flashcards .student-navigation .student-tab.active .step {
    color: #3498db;
}
.path-mod-flashcards .student-navigation a.student-tab.current .step,
.path-mod-flashcards .student-navigation a.student-tab:hover .step {
    color: #0070a8;
}

.path-mod-flashcards .student-navigation .student-tab .text {
    display: inline-block;
}

@media  (max-width:767px) {
    .path-mod-flashcards .term-wrapper {
        width: 49%;
    }
    .path-mod-flashcards .term-wrapper:nth-of-type(3n) {
        margin-right: 1%;
    }
    .path-mod-flashcards .term-wrapper:nth-of-type(2n) {
        margin-right: 0;
    }
    .dir-rtl.path-mod-flashcards .term-wrapper:nth-of-type(3n) {
        margin-right: 0;
        margin-left: 1%;
    }
    .dir-rtl.path-mod-flashcards .term-wrapper:nth-of-type(2n) {
        margin-left: 0;
    }
}

@media  (max-width:500px) {
    .path-mod-flashcards .term-wrapper {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}
