.path-mod-flashcards .term-seen-action {
    display: block;
}
.path-mod-flashcards .term-seen-state {
    display: none;
}
.path-mod-flashcards .term-seen .term-seen-action {
    display: none;
}
.path-mod-flashcards .term-seen .term-seen-state {
    display: block;
}

.path-mod-flashcards .term-seen-loading {
    display: none;
}
.path-mod-flashcards .generaltable .term-tick {
    text-align: center;
}
.path-mod-flashcards .term-loading .term-tick > * {
    /* Hide all the children. */
    display: none;
}
.path-mod-flashcards .term-loading .term-seen-loading {
    display: block;
}

.path-mod-flashcards .page-footer {
    margin-top: 20px;
}
.path-mod-flashcards .page-footer p {
    text-align: right;
}
.dirt-rtl.path-mod-flashcards .page-footer p {
    text-align: left;
}

.path-mod-flashcards .flashcards {
    position: relative;
}
.path-mod-flashcards .flashcards .flashcard {
    position: absolute;
    display: table;
    box-sizing: border-box;
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 3px;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.path-mod-flashcards .flashcards .flashcard .flashcard-wrapper {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.path-mod-flashcards .flashcards .flashcard .flashcard-content {
    overflow: hidden;
    box-sizing: border-box;
    padding: 5px;
}
.path-mod-flashcards .flashcards .flashcard.selected,
.path-mod-flashcards .flashcards .flashcard.found {
    background-color: green;
    color: white;
    cursor: initial;
}
.path-mod-flashcards .flashcards .flashcard.mismatch {
    background-color: red;
    color: white;
}
.path-mod-flashcards .flashcards .congrats {
    width: 300px;
    height: 100px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -70px 0 0 -170px;
    display: none;
    text-align: center;
    z-index:1;
}
.path-mod-flashcards .flashcards .congrats div {
        padding-bottom: 10px;
}

.path-mod-flashcards .flashcards_timer {
    position: absolute;
    z-index: 1;
    background-color: #ececec;
    display: none;
}
.path-mod-flashcards  .flashcards_timer_time {

}