<div id="cards-page-{{uniqid}}">

    <div class="flashcards">
    </div>

    <div class="page-footer">
        <p>
            {{#hascontinue}}
                <button data-href="{{{nexturl}}}" class="continue-button">{{continue}}</button>
            {{/hascontinue}}
        </p>
    </div>

</div>

{{#js}}
    require(['jquery', 'mod_flashcards/cards'], function($, Cards) {
        var container = $('#cards-page-{{uniqid}}'),
            modid = {{modid}},
            canmanage = {{canmanage}},
            cards = container.find('.flashcards'),
            btn = container.find('.continue-button');

        var inst = new Cards(cards, {{{definitionsjson}}});
        if (canmanage) {
            inst.setDryRun(true);
        }
        inst.init();

        {{#hascontinue}}
            btn.on('click', function() {
                location.href = $(this).data('href');
            });
            if (!canmanage) {
                btn.prop('disabled', true);
            }
            inst.on('complete', function() {
                btn.prop('disabled', false);
            });
        {{/hascontinue}}
    });
{{/js}}
