<div id="cards-page-{{uniqid}}">
    <div class="flashcards_timer">00:00:00</div>
    <div id="flashcards" class="flashcards">
        <div class="congrats">
          <div class="flashcards_congrats">{{{finishedscattermsg}}}</div>
          {{#hascontinue}}
              <button data-href="{{{nexturl}}}" class="continue-button">{{continue}}</button>
          {{/hascontinue}}
        </div>
    </div>

</div>

{{#js}}
    require(['jquery', 'mod_flashcards/cards', './amd/src/easytimer.js'], function($, Cards, Timer) {
        var container = $('#cards-page-{{uniqid}}'),
            modid = {{modid}},
            canmanage = {{canmanage}},
            cards = container.find('.flashcards'),
            btn = container.find('.continue-button'),
            congrats = container.find('.congrats'),
            timer = new Timer();

        var inst = new Cards(cards, {{{definitionsjson}}});
        if (canmanage) {
            inst.setDryRun(true);
        }
        inst.init();

        {{#hascontinue}}
            btn.on('click', function() {
                location.href = $(this).data('href');
            });
            if (!canmanage) {
                btn.prop('disabled', true);
            }
            inst.on('complete', function() {
                btn.prop('disabled', false);

                // replace [[time]] by <span class="flashcards_timer_time">00:00:00</span>
                var convertedfinishedscattermsg = $('.flashcards_congrats').text().replace("[[time]]", "<span class=\"flashcards_timer_time\">00:00:00</span>");
                $('.flashcards_congrats').html(convertedfinishedscattermsg);

                $('.flashcards_timer_time').text(timer.getTimeValues().toString(['minutes', 'seconds', 'secondTenths']));
                $('.flashcards_timer').css('display', 'none');
                congrats.css('display', 'block');

                {{#completeafterlocal}}
                    var redirecturl = "{{{nexturl}}}";
                    window.location.replace(redirecturl.replace('&amp;','&') + "&localscattertime=" + timer.getTotalTimeValues().seconds);
                {{/completeafterlocal}}

                {{#isglobalscatter}}
                    var redirecturl = "{{{nexturl}}}";
                    window.location.replace(redirecturl.replace('&amp;','&') + "&globalscattertime=" + timer.getTotalTimeValues().seconds);
                {{/isglobalscatter}}

                timer.stop();

            });
        {{/hascontinue}}

        {{#isglobalcompleted}}
            inst.on('complete', function() {
                // replace [[time]] by <span class="flashcards_timer_time">00:00:00</span>
                var convertedfinishedscattermsg = $('.flashcards_congrats').text().replace("[[time]]", "<span class=\"flashcards_timer_time\">00:00:00</span>");
                $('.flashcards_congrats').html(convertedfinishedscattermsg);

                $('.flashcards_timer_time').text(timer.getTimeValues().toString(['minutes', 'seconds', 'secondTenths']));
                $('.flashcards_timer').css('display', 'none');
                congrats.css('display', 'block');
                timer.stop();
            });
        {{/isglobalcompleted}}



        // Move the flashcards on top of screen.
        $(window).scrollTop($('#flashcards').offset().top - 45);

        // Set timer.
        $('.flashcards_timer').css('display', 'block');
        timer.start({precision: 'secondTenths', callback: function (values) {
            $('.flashcards_timer').html(values.toString(['minutes', 'seconds', 'secondTenths']));
        }});
        timer.addEventListener('secondsUpdated', function (e) {
            $('.flashcards_timer .values').html(timer.getTimeValues().toString(['minutes', 'seconds', 'secondTenths']));
        });
    });

{{/js}}
