<div id="wordcards_chooser_cont_{{uniqid}}" class="wordcards_deflang_chooser">
    {{{dropdownlist}}}
    <button type="button" class="btn btn-secondary" id="{{uniqid}}_setpref">{{#str}}choose_deflang, mod_wordcards{{/str}}</button>
</div>
{{^element.frozen}}
    {{#js}}
        require(['jquery','core/log','core_user/repository','core/notification'],function($,log,repository,notification) {
            //get controls
            var defbtn = $("#{{uniqid}}_setpref");
            var defselect = $("#wordcards_chooser_cont_{{uniqid}} select");

            //set handler to get set pref according to selection, and reload
           defbtn.on("click", function(e){
             var pref = defselect.val();
             /*
             if(pref==='{{activitydefault}}'){
                pref=false;
             }
             */
             repository.setUserPreference('wordcards_deflang',pref)
                .then(function(ret){window.location.reload();})
                .catch(notification.exception)
           });
        });
    {{/js}}
{{/element.frozen}}