<div class="wordcards_user_course_progress">
    <div class="wc_ucp_termslearned"><span class="wc_ucp_label">{{#str}} termslearned, mod_wordcards {{/str}}:</span> <span class="wc_ucp_val">{{termslearned}}</span></div>
    <div class="wc_ucp_termstolearn"><span class="wc_ucp_label">{{#str}} termstolearn, mod_wordcards {{/str}}:</span> <span class="wc_ucp_val">{{termstolearn}}</span></div>
    <div class="wc_ucp_totalterms"><span class="wc_ucp_label">{{#str}} totalterms, mod_wordcards {{/str}}:</span> <span class="wc_ucp_val">{{totalterms}}</span></div>
</div>